
/*---- Home Page and Main Styling ----*/
body {
    background-color: #ffe02e;
    font-family: 'futura_ndmedium';
    line-height: 1.4;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin: 2%;
    padding: 1%;
}

.header img {
    max-width: 40%;
    height: auto;
    padding: 2px;
    margin: 0px;
    float: right;
}

.container {
    display: flex;
    flex-direction: row;
} 

.page-title {
    font-size: 48px;
    padding: 2px;
    margin-top: 10vh;
    margin-bottom: 5px;
    text-align: center;
    
}

/* NAV-WRAPPER */
/* #nav.open {
    left: 0;
}

#nav {
    position: fixed;
    top: 0;
    min-height: 580px;
    width: 300px;
    padding-bottom: 40px;
    z-index: 10000;
}

#hamburger-menu {
    border: 2px solid black;
    width: 240px;
    height: 240px;
    position: absolute;
    left: 50%;
    top: 50%;
}  */

/*---- Deep Dream Image Gallery ----*/


.title {
    font-family: Vivian;
}

.caption {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    padding-bottom: 20px;
}

.date {
    padding: 5px;
    margin: 5px;
    font-size: 22px;
}

.ad {
    display: block;
}

/* ---- Image Styling ---- */

.img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin-bottom: -50px;
}
img{
    max-width: 90vw;
    /* max-width: 720px; */
}

.image-box {
    margin: 20px;
    /* box-shadow: 5px 5px 5px 5px rgb(148, 148, 148);
    -moz-box-shadow: 5px 5px 5px rgb(148, 148, 148);
    -webkit-box-shadow: 5px 5px 5px rgb(148, 148, 148);
    -khtml-box-shadow: 5px 5px 5px rgb(148, 148, 148); */
}

/* FOOTER */

.footer {
    background-color: #ffe02e;
    position: fixed;
    bottom: 0px;
    padding-bottom: 20px;
    width: 100%;
    height: 20px;
}

.footer a { 
    color: #000000; 
    text-transform: uppercase; 
    font-size: 12px; 
    text-decoration: none; 
    font-weight: bold; 
    margin: 0px 15px; 
    transition: opacity 300ms; 
}

.footer a:hover { 
    opacity: 0.6; 
}

.socials {
    float: left;
    position: absolute;
    left: 36px;
}

.dream_links {
    float: right;
    position: absolute;
    right: 36px;
}
/* ---- Media Query / Responsive ---- */


@media screen and (max-width: 600px) {
    .flexbox-container {
        flex-wrap: wrap;
    }
    .flexbox-column {
        flex:max(400px, 100%/2 + 1.0%);
    }
}