/* * {
    border: lightblue 1px solid;
} */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/*---- Home Page and Main Styling ----*/
body {
    background-color: #f8ecc3;
    /* font-family: "Source Code Pro", monospace; */
    font-family: 'Dosis', monospace;
    line-height: 1.4;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    margin: 2%;
    padding: 2%;
}

.header img {
    max-width: 50%;
    height: auto;
    padding: 5px;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.link {
    letter-spacing: 1px;
    padding: 2px;
}

.quote {
    padding: 5px;
    font-size: 48vw;
    letter-spacing: 2vw;
    text-align: center;
    font-weight: lighter;
}

.citation { 
    padding: 5px;
    font-style: italic;
    font-weight: 500;
}